$colorePrimario: #052F5F;
$coloreSecondario: #005377;
$coloreTerziario: #06A77D;
$coloretestoSec: #D5C67A;
$coloretesto: #F1A208;
$coloreSfondo: #904e55;
// colore tema 2
$colorePrimarioS: #f75c03;
$coloreSecondarioS: #d90368;
$coloreTerziarioS: #820263;
$coloretestoSecS: #291720;
$coloretestoS: #04a777;
$coloreSfondoS: #564e58;

$paddPic: 5px;
$paddMedio: 15px;
$paddGrande: 30px;